USE [DC_EDU_SH]
GO
/****** Object:  StoredProcedure [dbo].[TEAM04_PP_REPAIRCOMPLETE]    Script Date: 2022-07-19 오전 9:38:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		4조 참치
-- Create date: 2022-07-14
-- Description:	고장으로부터 수리완료 처리
-- =============================================
ALTER PROCEDURE [dbo].[TEAM04_PP_REPAIRCOMPLETE]
	@PLANTCODE        VARCHAR(10),  -- 공장.
	@ORDERNO		  VARCHAR(30),  -- 작업지시번호.
	@WORKCENTERCODE   VARCHAR(10),  -- 작업장
    @ITEMCODE         VARCHAR(30),  -- 품번

	@LANG             VARCHAR(10)  = 'KO',
	@RS_CODE          VARCHAR(1)   OUTPUT,
	@RS_MSG	          VARCHAR(100) OUTPUT


AS
BEGIN 
		-- 현재 시간 정의 공통 변수
	DECLARE @LD_NOWDATE  DATETIME,
	        @LS_NOWDATE  VARCHAR(10);
		SET @LD_NOWDATE = GETDATE();
		SET @LS_NOWDATE = CONVERT(VARCHAR,@LD_NOWDATE,23); -- yyyy-MM-dd


	  -- 1. 작업장 등록된 작업자 여부 확인하기
	  DECLARE @LS_WORKERID VARCHAR(10);

	  SELECT @LS_WORKERID = WORKER
	    FROM TP_WorkcenterStatus WITH(NOLOCK)
	   WHERE PLANTCODE      = @PLANTCODE
	     AND WORKCENTERCODE = @WORKCENTERCODE;


	-- 2. 작업장 현재 상태 테이블에 (가동/고장) 등록 
	UPDATE TP_WorkcenterStatus
	   SET STATUS        = 'S'
	      ,EDITOR        = @LS_WORKERID
		  ,EDITDATE      = @LD_NOWDATE
		  ,REMARK		 = ''
	WHERE PLANTCODE      = @PLANTCODE
	  AND WORKCENTERCODE = @WORKCENTERCODE


	-- 3. 작업장 별 작업지시 이력 테이블에 마지막 지시번호에 대한 SEQ 가져오기.
	DECLARE @LI_RSSEQ INT 
	       
	SELECT @LI_RSSEQ = ISNULL(MAX(RSSEQ),0)
	  FROM TP_WorkcenterStatusRec WITH(NOLOCK)
	 WHERE PLANTCODE      = @PLANTCODE
	   AND WORKCENTERCODE = @WORKCENTERCODE
	   AND ORDERNO        = @ORDERNO;

	UPDATE TP_WorkcenterStatusRec
	   SET RSENDDATE      = @LD_NOWDATE
	      ,EDITDATE       = @LD_NOWDATE
		  ,EDITOR         = @LS_WORKERID
     WHERE PLANTCODE      = @PLANTCODE
	   AND WORKCENTERCODE = @WORKCENTERCODE
	   AND RSSEQ          = @LI_RSSEQ


	-- 4. 변경되는 가동/고장 시작 시간 INSERT 
	INSERT INTO TP_WorkcenterStatusRec (PLANTCODE,   WORKCENTERCODE,   ORDERNO , RSSEQ,         WORKER,       ITEMCODE,   STATUS,    RSSTARTDATE,		MAKEDATE,    MAKER)
	                            VALUES (@PLANTCODE,  @WORKCENTERCODE,  @ORDERNO, @LI_RSSEQ + 1, @LS_WORKERID, @ITEMCODE,  'S',	  @LD_NOWDATE,  @LD_NOWDATE, @LS_WORKERID); 
															    

    -- 5. TB_ERRORDT 정보 업데이트
	UPDATE	TB_ErrorDT
	SET		 ENDRPDT		=	@LD_NOWDATE
			,ENDRPWORKER	=	@LS_WORKERID
	WHERE	PLANTCODE		=	@PLANTCODE
	AND		WORKCENTERCODE	=	@WORKCENTERCODE
	AND		ENDRPDT	IS	NULL


	-- 6. TB_ERRORAVG 정보 업데이트
	

	DECLARE @LI_SEQ INT
	       ,@LS_ERRORDATE VARCHAR(10)
		   ,@LD_NOW_MTBF  DATETIME

	SELECT @LI_SEQ		 = SEQ
		  ,@LS_ERRORDATE = RECDATE
		  ,@LD_NOW_MTBF  = ERRORDT
	  FROM TB_ErrorAVG WITH(NOLOCK)
	 WHERE  PLANTCODE		= @PLANTCODE
	   AND	WORKCENTERCODE	= @WORKCENTERCODE 
	   AND  MTTR IS NULL;


	UPDATE	TB_ErrorAVG
	SET		MTTR			=	DATEDIFF(MINUTE, ERRORDT,@LD_NOWDATE)
	WHERE	PLANTCODE		= @PLANTCODE
	AND		WORKCENTERCODE	= @WORKCENTERCODE
	AND     RECDATE         = @LS_ERRORDATE
	AND     SEQ             = @LI_SEQ;

	IF (@LI_SEQ - 1 = 0)
	BEGIN
		SELECT @LS_ERRORDATE = MAX(RECDATE)
		  FROM TB_ErrorAVG WITH(NOLOCK)
		 WHERE WORKCENTERCODE = @WORKCENTERCODE
		   AND PLANTCODE      = @PLANTCODE
		   AND RECDATE       <> @LS_ERRORDATE
		
	SELECT @LI_SEQ		 = MAX(SEQ)
	  FROM TB_ErrorAVG WITH(NOLOCK)
	 WHERE  PLANTCODE		= @PLANTCODE
	   AND	WORKCENTERCODE	= @WORKCENTERCODE 
	   AND  RECDATE         = @LS_ERRORDATE
	END
	ELSE
	BEGIN
		SET @LI_SEQ = @LI_SEQ -1 ;
	END


	UPDATE TB_ErrorAVG
	 SET MTBF	        = DATEDIFF(MINUTE, ERRORDT,@LD_NOW_MTBF) 
   WHERE PLANTCODE      = @PLANTCODE
     AND WORKCENTERCODE = @WORKCENTERCODE
	 AND RECDATE        = @LS_ERRORDATE
	 AND SEQ            =  @LI_SEQ

	   	  
   SET @RS_CODE = 'S';

END