USE [DC_EDU_SH]
GO
/****** Object:  StoredProcedure [dbo].[TEAM04_PP_Repair_S3]    Script Date: 2022-07-19 오전 9:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		4조참치
-- Create date: 2022-07-13
-- Description:	설비보전 통합관리
-- =============================================
ALTER PROCEDURE [dbo].[TEAM04_PP_Repair_S3]

	@PLANTCODE			VARCHAR(30) ,   -- 공장
	@WORKCENTERCODE		VARCHAR(30) ,   -- 작업장 코드
	@YEARMONTH			VARCHAR(30)     -- 년 / 월


  , @LANG			VARCHAR(10) = 'KO'
  , @RS_CODE		VARCHAR(1) OUTPUT
  , @RS_MSG			VARCHAR(100) OUTPUT

AS
BEGIN

-- MTTR / MTBF 평균 값 등록
DECLARE @LS_MONTH VARCHAR(8) = @YEARMONTH

SELECT 
 'MTTR'								   AS'상세지표'
 ,( SELECT AVG(ISNULL(MTTR,0))  
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-01' AND WORKCENTERCODE = @WORKCENTERCODE ) AS D1
  ,( SELECT AVG(MTTR)  
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-02' AND WORKCENTERCODE = @WORKCENTERCODE) AS D2
   ,( SELECT AVG(MTTR)  
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-03' AND WORKCENTERCODE = @WORKCENTERCODE) AS D3
   ,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-04' AND WORKCENTERCODE = @WORKCENTERCODE) AS D4
   ,( SELECT AVG(MTTR)  
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-05' AND WORKCENTERCODE = @WORKCENTERCODE) AS D5
   ,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-06' AND WORKCENTERCODE = @WORKCENTERCODE) AS D6
,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-07' AND WORKCENTERCODE = @WORKCENTERCODE) AS D7
,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-08' AND WORKCENTERCODE = @WORKCENTERCODE) AS D8
,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-09' AND WORKCENTERCODE = @WORKCENTERCODE) AS D9
,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-10' AND WORKCENTERCODE = @WORKCENTERCODE) AS D10
,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-11' AND WORKCENTERCODE = @WORKCENTERCODE) AS D11
,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-12' AND WORKCENTERCODE = @WORKCENTERCODE) AS D12
,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-13' AND WORKCENTERCODE = @WORKCENTERCODE) AS D13
,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-14' AND WORKCENTERCODE = @WORKCENTERCODE) AS D14
,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-15' AND WORKCENTERCODE = @WORKCENTERCODE) AS D15
,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-16' AND WORKCENTERCODE = @WORKCENTERCODE) AS D16
,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-17' AND WORKCENTERCODE = @WORKCENTERCODE) AS D17
,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-18' AND WORKCENTERCODE = @WORKCENTERCODE) AS D18
,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-19' AND WORKCENTERCODE = @WORKCENTERCODE) AS D19
,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-20' AND WORKCENTERCODE = @WORKCENTERCODE) AS D20
,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-21' AND WORKCENTERCODE = @WORKCENTERCODE) AS D21
,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-22' AND WORKCENTERCODE = @WORKCENTERCODE) AS D22
,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-23' AND WORKCENTERCODE = @WORKCENTERCODE) AS D23
   ,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-24' AND WORKCENTERCODE = @WORKCENTERCODE) AS D24
   ,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-25' AND WORKCENTERCODE = @WORKCENTERCODE) AS D25
   ,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-26' AND WORKCENTERCODE = @WORKCENTERCODE) AS D26
   ,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-27' AND WORKCENTERCODE = @WORKCENTERCODE) AS D27
   ,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-28' AND WORKCENTERCODE = @WORKCENTERCODE) AS D28
   ,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-29' AND WORKCENTERCODE = @WORKCENTERCODE) AS D29
   ,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-30' AND WORKCENTERCODE = @WORKCENTERCODE) AS D30
   ,( SELECT AVG(MTTR) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-31' AND WORKCENTERCODE = @WORKCENTERCODE) AS D31

   
UNION


SELECT 
 'MTBF' AS '상세지표',
 ( SELECT AVG(ISNULL(MTBF,0))  
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-01' AND WORKCENTERCODE = @WORKCENTERCODE) AS D1
  ,( SELECT AVG(MTBF)  
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-02' AND WORKCENTERCODE = @WORKCENTERCODE) AS D2
   ,( SELECT AVG(MTBF)  
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-03' AND WORKCENTERCODE = @WORKCENTERCODE) AS D3
   ,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-04' AND WORKCENTERCODE = @WORKCENTERCODE) AS D4
   ,( SELECT AVG(MTBF)  
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-05' AND WORKCENTERCODE = @WORKCENTERCODE) AS D5
   ,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-06' AND WORKCENTERCODE = @WORKCENTERCODE) AS D6
,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-07' AND WORKCENTERCODE = @WORKCENTERCODE) AS D7
,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-08' AND WORKCENTERCODE = @WORKCENTERCODE) AS D8
,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-09' AND WORKCENTERCODE = @WORKCENTERCODE) AS D9
,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-10' AND WORKCENTERCODE = @WORKCENTERCODE) AS D10
,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-11' AND WORKCENTERCODE = @WORKCENTERCODE) AS D11
,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-12' AND WORKCENTERCODE = @WORKCENTERCODE) AS D12
,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-13' AND WORKCENTERCODE = @WORKCENTERCODE) AS D13
,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-14' AND WORKCENTERCODE = @WORKCENTERCODE) AS D14
,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-15' AND WORKCENTERCODE = @WORKCENTERCODE) AS D15
,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-16' AND WORKCENTERCODE = @WORKCENTERCODE) AS D16
,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-17' AND WORKCENTERCODE = @WORKCENTERCODE) AS D17
,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-18' AND WORKCENTERCODE = @WORKCENTERCODE) AS D18
,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-19' AND WORKCENTERCODE = @WORKCENTERCODE) AS D19
,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-20' AND WORKCENTERCODE = @WORKCENTERCODE) AS D20
,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-21' AND WORKCENTERCODE = @WORKCENTERCODE) AS D21
,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-22' AND WORKCENTERCODE = @WORKCENTERCODE) AS D22
,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-23' AND WORKCENTERCODE = @WORKCENTERCODE) AS D23
   ,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-24' AND WORKCENTERCODE = @WORKCENTERCODE) AS D24
   ,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-25' AND WORKCENTERCODE = @WORKCENTERCODE) AS D25
   ,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-26' AND WORKCENTERCODE = @WORKCENTERCODE) AS D26
   ,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-27' AND WORKCENTERCODE = @WORKCENTERCODE) AS D27
   ,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-28' AND WORKCENTERCODE = @WORKCENTERCODE) AS D28
   ,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-29' AND WORKCENTERCODE = @WORKCENTERCODE) AS D29
   ,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-30' AND WORKCENTERCODE = @WORKCENTERCODE) AS D30
   ,( SELECT AVG(MTBF) 
     FROM TB_ErrorAVG WITH(NOLOCK)
   WHERE RECDATE = @LS_MONTH + '-31' AND WORKCENTERCODE = @WORKCENTERCODE) AS D31

ORDER BY '상세지표' DESC

END
